.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 50%;
    background-color: black;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}


.gallery > img{
    max-width: 100%;
}


@media screen and (max-width: 700px) {
    .gallery{
        width: 100%;
    }
}
