*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 8px solid #464444;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #0b0909;
  }
  ::-webkit-scrollbar-track {
    background: #d9d4d4;
    border: 12px none #3b39a2;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #d0cdcd;
  }
  ::-webkit-scrollbar-track:active {
    background: #e0d7d7;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }